<!-- Begin top.txt -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Cambridge University Science Fiction Society (and J&oacute;msborg the New)</title>
</head>
<!-- End top.txt -->

<body>
	<section class="section">
		<div class="container">
			{% block content %} {% endblock %}
		</div>
	</section>
</body>

<!-- Begin bottom.txt -->

</html>
<!-- End bottom.txt -->